.weather-app-container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weather-app-container .weather-app-container-top {
  width: 100%;
  margin: 1rem auto;
}
.weather-app-container .weather-app-container-top .top-description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}
.weather-app-container .weather-app-container-bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: #ffffff33;
}
.weather-app-container
  .weather-app-container-bottom
  .bottom-feelslike
  .bottom-feelslike-value,
.weather-app-container
  .weather-app-container-bottom
  .bottom-humidity
  .bottom-humidity-value,
.weather-app-container
  .weather-app-container-bottom
  .bottom-wind
  .bottom-wind-value {
  font-weight: 900;
}
